/*Holy grail*/
body {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: 'Pangolin', cursive;
    background-image: url(/Imagens/Fundo.PNG);
    background-size: cover;
}

footer {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.hg-conteudo {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.hg-conteudo > nav {
    order: -1;
    text-align: center;
}

.hg-conteudo > main {
    flex: 1;
    text-align: left;
}

@media (min-width: 768px) {
    .hg-conteudo {
        flex-flow: row;
    }

    .hg-conteudo > aside,
    .hg-conteudo > nav {
        flex: 0 0 200px;
    }
}

/*Logo do site*/
#logotipo {
    width: 100px;
    height: 100px;
}

/*Titulo do site*/
#patinhas {
    margin-left: 110px;
    margin-top: -70px;
}

/*Menu*/
.menu {
    width: 200px;
    font-size: 28px;
    text-align: center;
    background-color: #F23838;
    color: #0D0D0D;
    margin-top: 30px;
    margin-left: 22px;
    border-style: none; border-radius: 20px;
    transition: all 1s ease 0s;
    font-family: 'Pangolin', cursive;
}

.menu:hover {
    color: whitesmoke;
    transition-duration: 0.3s;
}

button {
    outline: none;
}

/*Lista dos cães*/
#mais {
    margin-top: 160px;
    margin-left: 50px;
    font-size: 50px;
    background-color: #A62D59D3;
    border-width: 8px; border-style: solid; border-color: #A62D59D3; border-radius: 50%;
}

li {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}