body {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: 'Pangolin', cursive;
    background-image: url(Fundo.PNG);
    background-size: cover;
  }

  header {
      text-align: center;
  }
  
  footer {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }

  aside {
    text-align: center;
  }
  
  .hg-conteudo {
    flex: 1;
    display: flex;
    flex-flow: column;
  }
  
  .hg-conteudo > nav {
    order: -1;
    text-align: center;
  }
  
  .hg-conteudo > main {
    flex: 1;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .hg-conteudo {
        flex-flow: row;
    }
  
    .hg-conteudo > aside,
    .hg-conteudo > nav {
        flex: 0 0 200px;
    }
  }
  
  /*Logo do site*/
  #logotipo {
    width: 121px;
    height: 121px;
  }
  
  /*Menu*/
  h2 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }
  
  /*Fomulário*/
  form {
    display: flex;
    flex-flow: column;
    margin: 50px 40px;
  }
    
  input, button, a {
    outline: none;
  }
  
  /*Cadastrar*/
  #cadastrar {
      border-width: 1px; border-style: solid; border-color: #A62D59d3; border-radius: 10px; padding: 10px 50px;
      background-color: #a62d59d3;
      font-size: 20px;
      color: #0D0D0D;
      font-weight: bold;
      transition: all 1s ease 0s;
      font-family: 'Pangolin', cursive;
    }
    
    #cadastrar:hover {
      color: #FFFFF0;
      transition-duration: 0.3s;
    }
    
    /*Campo de preenchimento*/
    input {
      border-width: 2px; border-style: solid; border-color: #0D0D0D; border-radius: 10px; margin: 5px 10px;
      font-size: 30px;
      padding: 8px;
    }
    
    /*Nome, CPF e Senha*/
    .Campo_Preenchimento {
      margin: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #0D0D0D;
    }

    /*Logar*/
    #logar {
      border-style: solid; border-color: #A62D59d3; border-radius: 10px; padding: 10px 50px;
      background-color: #a62d59de;
      font-size: 20px;
      color: #0D0D0D;
      font-weight: bold;
      transition: all 1s ease 0s;
      font-family: 'Pangolin', cursive;
    }
    
    #logar:hover {
      color: #FFFFF0;
      transition-duration: 0.3s;
    }

    /*Parcerias*/
    #AgroSítio {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }

    h3 {
      font-size: 30px;
    }

    /*G e F*/
    #Botoes{
      display: flex;
      flex-flow: column;
      background-size: 10px;
      font-family: 'Roboto', sans-serif;
    }
   
    .facebook{
      border-width: 2px; border-style: solid; border-color: #2b62aa; border-radius: 30px; margin: 5px 10px;
      padding: 13px;
      background-color: #2b62aa;
      font-size: 20px;
      font-weight: bold;
      transition: all 1s ease 0s;
      /*background-color: #2b62aa;
      border-width: 2px; border-style: solid; border-color: #2b62aa; border-radius: 30px; margin: 5px 10px;
      padding: 13px;
      text-align: center;*/
    }
   
    .google{
      border-width: 2px; border-style: solid; border-color: #D93E30; border-radius: 30px; margin: 5px 10px;
      padding: 13px;
      background-color: #D93E30;
      font-size: 20px;
      font-weight: bold;
      transition: all 1s ease 0s;
      /*background-color: #D93E30;
      border-width: 2px; border-style: solid; border-color: #D93E30; border-radius: 30px; margin: 5px 10px;
      padding: 13px;
      text-align: center;*/
    }
   
  a{
      color: #ffffff;
      text-decoration: none;
  }
   
  i{
      margin: 0 0.5rem;
      width: 15px;
      text-align: center;
  }