/*Holy grail*/
body {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: 'Pangolin', cursive;
    background-image: url(https://cdn.pixabay.com/photo/2015/05/06/03/54/red-754861_960_720.png);
    background-size: cover;
}

footer {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

aside {
    text-align: center;
}

.hg-conteudo {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.hg-conteudo > nav {
    order: -1;
    text-align: center;
}

.hg-conteudo > main {
    flex: 1;
    text-align: center;
}

@media (min-width: 768px) {
    .hg-conteudo {
        flex-flow: row;
    }

    .hg-conteudo > aside,
    .hg-conteudo > nav {
        flex: 0 0 200px;
    }
}

/*Logo do site*/
#logotipo {
    width: 100px;
    height: 100px;
}

/*Titulo do site*/
#patinhas {
    margin-left: 110px;
    margin-top: -70px;
}

/*Menu*/
.menu {
    width: 200px;
    font-size: 28px;
    text-align: center;
    background-color: #F23838;
    color: #0D0D0D;
    margin-top: 30px;
    margin-left: 22px;
    border-style: none; border-radius: 20px;
    transition: all 1s ease 0s;
    font-family: 'Pangolin', cursive;
}

.menu:hover {
    color: whitesmoke;
    transition-duration: 0.3s;
}

button {
    outline: none;
}

/*Cães*/
#caes {
    width: 360px;
    /*display: flex;
    flex-flow: column;*/
}

#cão1 {
    width: 180px;
    height: 180px;
    margin-top: 2%;
    margin-right: 10vh;
    border-radius: 15%;
}

/*Parcerias*/
#AgroSítio {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

h3 {
    font-size: 30px;
}